.translation-selector{  
  display: flex;
  gap: 12px;  
}

.translation-selector button {
  border-radius: 30px;
  background-color: #97938f;      
  border: none;
  height: 36px;
  padding: 0 16px;
  font-weight: bold;
  color: #dad1c6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.translation-selector button:hover {
  opacity: 0.8;
}